/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 0 25px;
}
.App {
  width: 60%;
  display: flex;
  margin: 0 auto;
}
.u-displayFlex {
  display: flex;
}
.u-flexColumn {
  flex-direction: column;
}
.u-spaceBetween {
  justify-content: space-between;
}
.u-flex1 {
  flex: 1;
}
.Treat-image {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
.Treat-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 25px;
}
.Treat-item {
  margin-bottom: 20px;
  display: flex;
}
.Treat-item .name {
  font-weight: 400;
  margin-bottom: 5px;
}
.Cart-list {
  margin-bottom: 10px;
}
.Cart-list .CartItem:last-child {
  margin-top: 25px;
}
.CartItem {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid black;
}
.CartItem-total {
  font-weight: 400;
}
.Cart {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.Logo {
  font-weight: 300;
  letter-spacing: .15em;
  display: inline-flex;
  background-color: black;
  color: white;
  padding: 2px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 25px;
  align-self: flex-end;
}
.Button {
  border: 1px solid black;
  background-color: white;
  display: inline-flex;
  justify-content: center;
}
.Button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.Button.Clear {
  align-self: flex-end;
}
.Button.AddToCart {
  width: 100px;
}
